
body {
	font-family:Verdana, Arial;
	font-size:12;
}

a {
	color:navy;
	font-family:Verdana, Arial;
	font-size:12;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color:#000000;
	text-decoration:underline;
}

.menu {
	background:#B9DAF3;
	padding:2px;
	font-family:Verdana, Arial;
	font-size:12;
}

.menu_adm {
	background:#ffffff;
	padding:2px;
}

table {
	font-family:Verdana, Arial;
	font-size:12;
}

th {
	background:#00A1CB;
	padding:2 5 2 5;
	text-align:center;
	font-family:Verdana, Arial;
	font-size:13;
}

tr.cat {
	background:#CCCCCC;
	font-family:Verdana, Arial;
	font-size:12;
}

tr.light {
	background:#CDE6F3;
	font-family:Verdana, Arial;
	font-size:12;
}

tr.dark {
	background:#BFDDF0;
	font-family:Verdana, Arial;
	font-size:12;
}

input {
	background:#FFFDE8;
	border-width:2;
	border-color:#cccccc;
	border-style:solid;
	font-family:Verdana, Arial;
	font-size:12;
}

select {
	background:#FFFDE8;
	border-width:2;
	border-color:#cccccc;
	border-style:solid;
	font-family:Verdana, Arial;
	font-size:12;
}

textarea {
	background:#FFFDE8;
	border:2 #cccccc solid;
	font-family:Verdana, Arial;
	font-size:12;
}

hr {
	border:0;
	background:#cccccc;
	height:2;
}

.error {
	padding:5;
	color:#ff0000;
	font-family:Verdana, Arial;
	font-size:12;
	font-weight:bold;
}

.ok {
	padding:5;
	color:blue;
	font-family:Verdana, Arial;
	font-size:12;
	font-weight:bold;
}